<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4_DTO.Properties.Settings.QL_BOOKSTOREConnectionString"
            connectionString="Data Source=.;Initial Catalog=QL_BOOKSTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_4_DTO.Properties.Settings.QL_BOOKSTOREConnectionString1"
            connectionString="Data Source=LAZYTEAM-PC\SQLEXPRESS;Initial Catalog=QL_BOOKSTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_4_DTO.Properties.Settings.QL_BOOKSTOREConnectionString2"
            connectionString="Data Source=BIGTEAM-PC\SQLEXPRESS;Initial Catalog=QL_BOOKSTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>